<!--Container for map-->
<div id="map"></div>
</br>
<form ng-submit="submitExperience()">
  <input type="text" ng-model="experience.name" placeholder="Experience"/>
  <input type="url" ng-model="experience.url"/>
  <input type="text" ng-model="experience.lat" placeholder="Latitude"/>
  <input type="text" ng-model="experience.lon" placeholder="Longitude"/>
  <input type="text" ng-model="experience.duration" placeholder="Duration"/>
  <input type="text" ng-model="experience.price" placeholder="Price"/>

  <input type="submit" value="Add Experience" />
</form>
</br>
<table>
  <tr>
    <th>Experience</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Duration</th>
    <th>Price</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="(experienceID, exp) in experiences">
    <th><a href="{{ exp.url }}"> {{exp.name}} </a></th>
    <th> {{exp.lat}} </th>
    <th> {{exp.lon}} </th>
    <th> {{exp.duration}} </th>
    <th> {{exp.price}} </th>
    <th><a ng-click="deleteExperience(experienceID)">delete</a></th>
  </tr>
</table>

<script>
  //  Create map with mapbox tiles and no zoom via scroll
  var map = L.mapbox.map('map', 'lrjasen.ic7e61a6', {
    scrollWheelZoom: false
  }).setView([37.6833,-122.32167], 11);  //SF Bay Area

  var BlackMarker = L.Icon.extend({
    options: {
      iconUrl: 'images/black_circle_marker_v2.png',
      iconSize: [40],
      iconAnchor: [20,45],
      popupAnchor: [0, -35]
    }
  });

  var blackMarker = new BlackMarker({});

  L.marker([37.6833,-122.32167], {icon: blackMarker})
    .addTo(map)
    .bindPopup("I am my first custom pin!");

</script>

<!--
</br>
</br>

Experiences: {{ experiences }}</br>
Experience: {{ experience }}
-->