<!--Container for map-->

<form role="form" xmlns="http://www.w3.org/1999/html">
  <input ng-model="search.experiences" placeholder="Filter experiences...">
</form>

</br>

<div id="map"></div>

</br>
<form ng-submit="submitExperience()">
  <input type="text" ng-model="experience.name" placeholder="Experience"/>
  <input type="url" ng-model="experience.url"/>
  <input type="text" ng-model="experience.lat" placeholder="Latitude"/>
  <input type="text" ng-model="experience.lon" placeholder="Longitude"/>
  <input type="text" ng-model="experience.duration" placeholder="Duration"/>
  <input type="text" ng-model="experience.price" placeholder="Price"/>

  <input type="submit" value="Add Experience" />
</form>
</br>
<table ng-cloak class="table">
  <thead>
    <tr class="foot">
      <!--Not working below-->
      <!--<th><a href="" ng-click="orderByField = 'name'; reverse=!reverse">Experience</a></th>-->

      <th>Experience</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tr ng-repeat="(experienceID, exp) in experiences">
    <th><a href="{{ exp.url }}"> {{exp.name}} </a></th>
    <th> {{exp.lat}} </th>
    <th> {{exp.lon}} </th>
    <th> {{exp.duration}} </th>
    <th> {{exp.price}} </th>
    <th><button><a ng-click="deleteExperience(experienceID)">delete</a></button></th>
  </tr>
</table>

<!--Angular-leaflet-directive map-->
<!--<div ng-controller="MarkersController">-->
  <!--<leaflet markers="markers" center="center" width="700px" height="600px"></leaflet>-->
<!--</div>-->

<script>
  //  Create map with mapbox tiles and no zoom via scroll
  var map = L.mapbox.map('map', 'lrjasen.ic7e61a6', {
    scrollWheelZoom: false
  }).setView([37.6833,-122.32167], 11);  //SF Bay Area

  // A LISTENER FUNCTION that will run passing in the event object
  var onMapClick = function(e) {
    console.log("Map object clicked, which contains:");
    console.dir(e);
    var clickMarker = new BlackMarker({});

    // TO DO: NEED TO VALIDATE IF USE PROMPT
    var name = prompt("Please give me your name?");

    L.marker([e.latlng.lat, e.latlng.lng], {icon: clickMarker})
        .addTo(map)
        .bindPopup(name);
  };

  // Attaching an EVENT HANDLER, so that when there is a 'click' event on the 'map', 'onMapClick' function will run
  map.on('click', onMapClick);
</script>


<!--
</br>
</br>

Experiences: {{ experiences }}</br>
Experience: {{ experience }}
-->